{{#objects}}
<div class="col">
  <div class="card h-100">
    <img src="{{Image}}" class="card-img-top">
    <div class="card-body text-center">
      <h5 id="title" class="card-title">{{Name}}</h5>
      <p>{{Author}}</p>
      <p>Availability: {{math Amount "-" Loaned}} tk</p>
    </div>
    <div class="card-footer text-center">
      {{#if login}}
      <form action="/borrow" method="post">
        <input type="hidden" name="UID" value={{UID}}>
        <button type="submit" class="btn btn-primary">Borrow</button>
      </form>
      {{else}}
      <p>Log in to borrow</p>
      {{/if}}
    </div>
  </div>
</div>
{{/objects}}