{{log 'login' sessionStatus}}
{{#objects}}
<div class="col">
  <div class="card h-100">
    <img src="{{Image}}" class="card-img-top">
    <div class="card-body text-center">
      <h5 class="card-title">{{Name}}</h5>
      <p>{{Author}}</p>
      <p>Saadavus: {{math Amount "-" Loaned}} tk</p>
    </div>
    <div class="card-footer text-center">
      {{#if login}}
      <button type="button" class="btn btn-primary">Borrow</button>
      {{else}}
      <p>Log in to borrow</p>
      {{/if}}
    </div>
  </div>
</div>
{{/objects}}