{{#loans}}
<div class="col">
  <div class="card h-100">
    <img src="{{Image}}" class="card-img-top">
    <div class="card-body text-center">
      <h5 id="title" class="card-title">{{Name}}</h5>
      <p>{{Author}}</p>
    </div>
    <div class="card-footer text-center">
      <form action="/profile/return" method="post">
        <input type="hidden" name="UID" value={{UID}}>
        <input type="hidden" name="bk_id" value={{bk_id}}>
        <button type="submit" class="btn btn-primary">Return</button>
      </form>
    </div>
  </div>
</div>
{{/loans}}